body {
    background-image:url(./aksonvady_Data_technology_futuristic_illustration\ 31\ 1.png) ;
    background-repeat: no-repeat;
    background-size: cover;
}
.satauri1 {
    color:#C3C3C3;
}
.satauri2 {
    color: #C3C3C3;
}
.sruli1 {
    color: #FFFFFF;
}
.satauri3 {
    color: #767676;
}
.sruli2 {
    color: #FFFFFF;
}
